/*
 * Copyright 2011 Iouri Khramtsov.
 *
 * This software is available under Apache License, Version 
 * 2.0 (the "License"); you may not use this file except in 
 * compliance with the License. You may obtain a copy of the
 * License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 /****************** General Style Info *********************/
* {margin:0; padding:0; 
    font-family: Verdana, 'Bitsream Vera Sans', helvetica, arial, sans-serif;
}

html { background: #fff;
}
body {color: #000; font-family:Verdana, 'Bitsream Vera Sans', helvetica, arial, sans-serif; margin: 0;
    font-size: 12px; line-height: 19px;}

p {margin-top: 20px; margin-bottom: 20px;}

a {/* color: #003d4c;*/ color: #000; text-decoration: underline; /*font-weight: bold;*/}
a:hover {color: #5E8206; text-decoration:underline; }
a img { border:none; }

img {border: none;}

h1, h2, h3, h4 { font-weight: normal; }
h2 {/*color: #709E20;*/ color: #5E8206; font-family:'Myriad Pro','lucida grande', helvetica, arial, sans-serif;
	font-size: 300%; font-weight: bold; margin: 15px 0 15px 0; clear:both; line-height: 100%;
    font-family: helvetica, arial, sans-serif;}
h3 {color: #603813; /*font-family: 'lucida sans', arial, sans-serif*/;  letter-spacing: -0.03em;
	font-size: 155%; margin: 10px 0 15px 0; 
    font-family: helvetica, arial, sans-serif;}
h4 {color: #603813; font-weight: normal; padding-top: 0.5em;}

ul, ol {margin: 0 30px;}

/****************** Layout *********************/
#header {width: 100%; height: 93px; margin: 0 auto; 
    background: #fff url('/resources/css/header-bg-grey-personalized.png') repeat-x;}
#header h1 {width: 850px; height: 93px; margin: 0 auto; padding: 0px;}
#header h1 a {display: block; width: 850px; height: 93px; margin: 0; padding: 0;
    /*background: #AADD58 url('/resources/css/header-transparent.png') no-repeat;*/
    background:  url('/resources/css/header-grey-shadows-personalized.png') no-repeat;
    /*text-indent: -9999px;*/}
#header h2 {display: none;}

#container {min-width: 850px; text-align: left; background: #fff;}
#content{width: 850px; margin: 0 auto; clear: both; color: #333; padding: 0; /*overflow: auto;*/ 
	background: #fff; min-height: 400px;}

#footer {clear: both; width: 100%; margin: 0 0; background: #ddd; 
    position: fixed; bottom: 0px;}
#footer-content {width: 850px; margin: 0 auto; padding: 10px; text-align: center; color: #666;}
#footer-content p {margin: 0;}

/****************** Common Elements *********************/
/* Tables */
table {clear: both; width: 750px; border-collapse: collapse;}

table tr td {padding: 0 5px; padding-top: 3px; text-align: center; vertical-align: top;}
table tr td.description {text-align: right;}
table tr td.price {text-align: center; width: 12%; }

table tr.headers th {border-bottom: 2px solid #42210B; font-weight: bold; padding: 3px;
	text-align: center; }
table tr.order-subtotal td.price {border-top: 1px solid #42210B;}
table tr.order-total td.price {font-weight: bold; border-top: double #42210B;}

/* Forms */
form {padding: 0;}
form div.field-wrapper {margin-top: 10px; margin-bottom: 10px;}
label {display: inline-block; width: 200px; }

select {vertical-align: text-bottom; margin-right: 10px;}
select[multiple=multiple] {width: 100%; }
option {padding: 0 3px;}

input[type=text] { margin-right: 10px;}
input[type=checkbox] { margin: 0px 6px 7px 2px; width: auto; }
input[type=radio] {width:auto; margin: 0 3px 7px 0; }

div.radio label { margin: 0 0 6px 20px; } 

input[type=submit] { display: inline; padding: 2px 5px; width: auto;
    vertical-align: bottom;}

textarea {font-family: courier; font-size: normal;}

form ul.errorlist {margin-left: 200px; list-style-type: none;}
form .checkbox ul.errorlist {margin-left: 0px;}

/* Notices, special fonts, hacks. */
.error {color: red; font-size: 100%;}
.notice {background: #FFEA94; color: #000; display: block; font-family: Courier, monospace;
    font-size: 120%; line-height: 140%; padding: 0.8em; margin: 1em 0; }
.success {background: green; color: #fff; }
.footnote {font-size: 8pt;}
.email-address {color: #603813; font-style: italic;}
.hidden {display: none;}
.clearboth {clear: both;}

.errorlist {color: red;}
.highlighted{background: #FFEA94;}

/* Floating images. */
div.floating-image {display: block; float: right; width: 345px; margin: 0 0 25px 25px;}
div.floating-image p {margin: 0 0 0 5px; font-size: 80%;}

p.white {color:#fff;}

/************************ Elements on main page **************************/
div.main {display: block; float: left; width: 600px;}

#words-to-guess {margin: 0 0 40px 0; width: 580px; text-align: center; }
.word-container {display: block; float:left; height: 60px; width: 580px; 
    vertical-align: middle;}
.word-container div {display: table-cell; /*float:left;*/ height: 60px; 
    vertical-align: middle;}
.word-container div  span {vertical-align: middle;}

#words-to-guess .was-correct {width: 30px;}
#words-to-guess .was-correct.true {background: green;}
#words-to-guess .was-correct.false {background: red;}
#words-to-guess .word {width: 130px; font-family: verdana; font-size: 14pt; font-weight: bolder;}
#words-to-guess .is-a-word {color: red; width: 80px;}
#words-to-guess .is-a-word .is-valid {color: green;}
#words-to-guess .description {text-align: left; width:340px;}

div.settings {display: block; float: right; width: 225px; background: #A7CAD1;
    padding: 10px; margin: 10px 0 10px 0; 
    border: 1px solid #92ABB0; border-top-color: #B6D5DB; border-left-color: #B6D5DB;
    border-bottom-left-radius: 7px 7px; border-bottom-right-radius: 7px 7px;
    border-top-left-radius: 7px 7px; border-top-right-radius: 7px 7px;}

div.settings p {margin: 0;}
input.smallnum {margin: 0;}


