<h2>About isaword.com</h2>

<h3>What? Why?</h3>
<p>
    isaword.com is a place where you can learn which words are valid
    for the purposes of playing Scrabble and similar games, and which ones are not.
</p>
<p>
    I built the website for two reasons: my desire to stop losing to my girlfriend
    at Scrabble, and as an excuse to try out building a website using C++ with 
    <a href="http://monkey.org/~provos/libevent/">libevent</a>.
</p>

<div class="anchored">
<a name="valid-word" id="valid-word"></a>
<h3>Which words are "valid"?</h3>
<p>
    On this website, a word is considered to be "valid" if it appears in the second
    edition of the 
    <a href="http://en.wikipedia.org/wiki/Official_Tournament_and_Club_Word_List">Official 
    Trounament and Club Word List</a> (OWL2). Roughly speaking, this
    includes most English language words that are not slang, are not capitalized 
    and do not contain hyphens or apostrophes.
</p>
<p>
    If there is sufficient demand, alternative dictionaries may be added
    (<a href="http://en.wikipedia.org/wiki/Official_Scrabble_Players_Dictionary">OSPD</a>
    or <a href="http://en.wikipedia.org/wiki/SOWPODS">SOWPODS</a>).
</p>
</div>

<h3>How was this site built?</h3>
<p>
    Some description of the site is provided in
    <a href="http://iouri-khramtsov.blogspot.com/2011/02/quick-experiment-with-websites-in-c.html">this 
    post</a>; source code is available <a href="https://github.com/ikhramts/isaword">here</a>.
</p>

<h3>Want to Contact isaword?</h3>
<p>
    Have feedback?  Ideas?  Found a bug?  Send an email to 
    <span class="email-address">contact</span>.
</p>
