<h2>Fine Print (a.k.a. Terms of Use)</h2>
<ol>
    <li>
        "We" means the author of this site and/or anyone involved in running it.
        "You" means you, the user reading this.  "Site" or "this site" means
        the collection of web pages and data hosted at isaword.com (the site you're
        reading now).
    </li>
    <li>
        We are not liable for anything you do on this site, may have done on this site,
        or do or have not done anything anywhere because we have or have not 
        written something on this site.  If you trip, fall and
        break your arm because you read something here, it's your own damn fault.
        If you lose a Scrabble tournament because we misspelled a word, 
        it's your own problem too, don't come suing us for money or anything else.
    </li>
    <li>
        Except for content produced by others (e.g. the word dictionaries or 
        JavaScript libraries) everything on this site, including its 
        <a href="https://github.com/ikhramts/isaword">source code</a>, are available under
        <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, 
        Version 2.0</a>.  That said, this site's primary author (Iouri Khramtsov)
        would appreciate greatly if you give him credit when reusing parts of the site.
    </li>
</ol>