<div class="main">
    <div class="controls">
        <h3>Is this a valid word?</h3>
        <div id="guess">
            <a href="#" class="yes">Yes</a>
            <a href="#" class="no">No</a>
            <a href="#" class="skip">Skip</a>
        </div>
        <p id="whats-a-valid-word">
            What's a "<a href="/about#valid-word" target="_blank">valid word?</a>"
        </p>
    </div>
    <div id="words-to-guess" class="clearboth">
        <div class="float-wrap">
            <div class="word-container">
                <div class="was-correct"><span></span></div>
                <div class="word"><span></span></div>
                <div class="is-a-word"><span></span></div>
                <div class="description"><span></span></div>
            </div>
        </div>
    </div>
</div>
<div class="right-column">
    <div class="box score">
        <p class="correct">Correct: <span id="num-correct">0</span></p>
        <p class="incorrect">Incorrect: <span id="num-incorrect">0</span></p>
        <p class="streak-info">Current Streak: <span id="current-streak">0</span></p>
        <p class="streak-info">Longest Streak: <span id="longest-streak">0</span></p>
    </div>
    <div class="box settings">
        <h3>Type of words</h3>
        <div id="word-type">
            <p>
                <input id="word-type-length" class="word-type" 
                    type="radio" name="word-type" value="length" checked />
                <label for="word-type-length">
                    Words 
                    <input id="from-length" type="text" maxlength="2" size="2" 
                        value="%u" class="smallnum"/> - 
                    <input id="to-length" type="text" maxlength="2"  size="2" 
                        value="%u" class="smallnum"/>
                    letters long
                </label>
            </p>
            <!-- Various word indexes; use index-description.html for each index. -->
            %s
        </div>
        <h3>History</h3>
        <p>
            Number of previous guesses to display:
            <input id="history-size" type="text" maxlength="4"  size="3" 
                value="20" class="smallnum"/>
        </p>
    </div>
</div>