<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!--
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16974319-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
    -->
    <!-- Additional page-specific. -->
    <script>
        %s
    </script>
	<title>IsAWord.com - Learn Scrabble Words</title>

    <!--
	<link rel="stylesheet" href="/resources/css/isaword-sprites.css" />
	-->
	<link rel="stylesheet" href="/resources/css/isaword.css" />
	<script language="javascript" src="/resources/js/jquery-1.4.4.min.js" ></script>
	<script language="javascript" src="/resources/js/isaword.js"></script>
    
    <!--
	<link href="/resources/css/favicon.ico" type="image/x-icon" rel="icon" />
    -->
</head>
<body>
	<div id="header">
		<div id="header-contents">
			<h1><a href="/">isaword.com</a></h1>
			<h2>Learn Scrabble Words!</h2>
            <div class="nav">
                <a href="/">Home</a>
                <a href="/about">About isaword.com</a>
            </div>
		</div>
	</div>
	<div id="container">
		<div id="content">
            %s
		</div>
	</div>
	<div id="footer">
		<div id="footer-content">
			<p>
				Use of this site is governed by the <a href="/fine_print">
				Terms of Use</a>.  &nbsp; &copy; 2011 Iouri Khramtsov.  
                All rights reserved.
			</p>
		</div>
	</div>
</body>
</html>